In [1]:
import numpy as np
import pandas as pd
import datetime
import yfinance as yf

In [5]:
start_date = datetime.datetime(2010, 1, 1)
end_date = datetime.datetime(2021, 4, 2)

In [9]:
tickers_str = 'AAPL MSFT SSNLF BA GOOG WMT'

In [10]:
stock_data = yf.download(tickers_str, start=start_date, end=end_date, threads=False)

[*********************100%***********************]  6 of 6 completed

In [12]:
stock_data

             Adj Close                                                         \
                  AAPL          BA         GOOG        MSFT SSNLF         WMT
Date
2009-12-31    6.482683   42.180115   308.832428   23.684755   NaN   40.845978
2010-01-04    6.583586   43.777542   312.204773   24.049969   NaN   41.442036
2010-01-05    6.594968   45.211330   310.829926   24.057743   NaN   41.029366
2010-01-06    6.490066   46.582798   302.994293   23.910097   NaN   40.937664
2010-01-07    6.478067   48.468555   295.940735   23.661432   NaN   40.960583
...                ...         ...          ...         ...   ...         ...
2021-03-26  121.209999  244.869995  2035.550049  236.479996   NaN  135.130005
2021-03-29  121.389999  250.520004  2055.949951  235.240005   NaN  136.669998
2021-03-30  119.900002  252.009995  2055.540039  231.850006   NaN  135.740005
2021-03-31  122.150002  254.720001  2068.629883  235.770004   NaN  135.830002
2021-04-01  123.000000  252.960007  2137.750000  242.350006   NaN  135.619995

                 Close                                       ...         Open  \
                  AAPL          BA         GOOG        MSFT  ...         GOOG
Date                                                         ...
2009-12-31    7.526071   54.130001   308.832428   30.480000  ...   311.208527
2010-01-04    7.643214   56.180000   312.204773   30.950001  ...   312.304413
2010-01-05    7.656429   58.020000   310.829926   30.959999  ...   312.418976
2010-01-06    7.534643   59.779999   302.994293   30.770000  ...   311.761444
2010-01-07    7.520714   62.200001   295.940735   30.450001  ...   303.562164
...                ...         ...          ...         ...  ...          ...
2021-03-26  121.209999  244.869995  2035.550049  236.479996  ...  2038.859985
2021-03-29  121.389999  250.520004  2055.949951  235.240005  ...  2027.880005
2021-03-30  119.900002  252.009995  2055.540039  231.850006  ...  2057.629883
2021-03-31  122.150002  254.720001  2068.629883  235.770004  ...  2059.120117
2021-04-01  123.000000  252.960007  2137.750000  242.350006  ...  2097.949951

                                             Volume                      \
                  MSFT SSNLF         WMT       AAPL        BA      GOOG
Date
2009-12-31   30.980000   NaN   54.250000  352410800   2189400   2448744
2010-01-04   30.620001   NaN   53.740002  493729600   6186700   3927065
2010-01-05   30.850000   NaN   54.090000  601904800   8867800   6031925
2010-01-06   30.879999   NaN   53.500000  552160000   8836500   7987226
2010-01-07   30.629999   NaN   53.720001  477131200  14379100  12876685
...                ...   ...         ...        ...       ...       ...
2021-03-26  231.550003   NaN  134.000000   93958900  17130700   1493500
2021-03-29  236.589996   NaN  135.000000   80819200  22198800   1229800
2021-03-30  233.529999   NaN  136.330002   85671900  12577300   1036600
2021-03-31  232.910004   NaN  135.550003  118323800  14138500   1459900
2021-04-01  238.470001   NaN  135.940002   74957400  10915000   1699000


                MSFT SSNLF       WMT
Date
2009-12-31  31929700   NaN   9764800
2010-01-04  38409100   NaN  20753100
2010-01-05  49749600   NaN  15648400
2010-01-06  58182400   NaN  12517200
2010-01-07  50559700   NaN  10662700
...              ...   ...       ...
2021-03-26  25471700   NaN   9535000
2021-03-29  25227500   NaN  10048800
2021-03-30  24792000   NaN   9076700
2021-03-31  43623500   NaN   8182000
2021-04-01  30312000   NaN   8527200

[2832 rows x 36 columns]